 .u-section-1 {
  min-height: 622px;
}

.u-section-1 .u-image-1 {
  width: 1691px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  height: 500px;
  margin: 1px auto 0 calc(((100% - 1140px) / 2) + -275px);
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 3.75rem;
  margin: -541px calc(((100% - 1140px) / 2) + 322px) 0 calc(((100% - 1140px) / 2) + 264px);
}

.u-section-1 .u-image-2 {
  width: 474px;
  height: 370px;
  margin: 75px auto 0 calc(((100% - 1140px) / 2) + 319px);
}

.u-section-1 .u-image-3 {
  width: 437px;
  height: 520px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -499px calc(((100% - 1140px) / 2) + 168px) 0 auto;
}

.u-section-1 .u-image-4 {
  width: 418px;
  height: 438px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  margin: -425px auto 0 calc(((100% - 1140px) / 2) + 347px);
}

.u-section-1 .u-image-5 {
  width: 522px;
  height: 404px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -359px auto 0 calc(((100% - 1140px) / 2) + 169px);
}

.u-section-1 .u-group-1 {
  min-height: 75px;
  height: auto;
  margin-top: -45px;
  margin-bottom: -40px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  letter-spacing: 2px;
  margin: -25px 136px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: -24px auto 0 111px;
}

.u-section-1 .u-shape-1 {
  width: 16px;
  height: 16px;
  background-image: none;
  margin: -21px auto 0 367px;
}

.u-section-1 .u-shape-2 {
  width: 16px;
  height: 16px;
  background-image: none;
  margin: -16px 371px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 596px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 278px;
    margin-top: 16px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -288px;
    margin-right: calc(((100% - 940px) / 2) + 210px);
    margin-left: calc(((100% - 940px) / 2) + 176px);
  }

  .u-section-1 .u-image-2 {
    margin-top: 44px;
    margin-left: calc(((100% - 940px) / 2) + 319px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -520px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-top: -404px;
    margin-left: calc(((100% - 940px) / 2) + 347px);
  }

  .u-section-1 .u-image-5 {
    height: 405px;
    margin-top: -373px;
    margin-left: calc(((100% - 940px) / 2) + 176px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -31px;
    margin-bottom: 0;
    height: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -22px;
    margin-left: 320px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -15px;
    margin-right: 320px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 762px;
  }

  .u-section-1 .u-image-1 {
    width: 703px;
    height: 332px;
    margin-top: 161px;
    margin-left: calc(((100% - 720px) / 2) + -22px);
  }

  .u-section-1 .u-text-1 {
    width: 554px;
    margin-top: -474px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 76px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -512px;
    margin-right: calc(((100% - 720px) / 2) + -33px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -446px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: -321px;
    margin-left: calc(((100% - 720px) / 2) + -22px);
  }

  .u-section-1 .u-group-1 {
    margin-top: 25px;
    margin-bottom: 2px;
    min-height: 120px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 48px;
    margin-right: 227px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 19px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -25px;
    margin-left: 36px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -20px;
    margin-left: 231px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -16px;
    margin-right: 197px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 255px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: -397px;
    width: 540px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -520px;
    margin-right: calc(((100% - 540px) / 2) + -111px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -404px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -365px;
    margin-left: calc(((100% - 540px) / 2) + -85px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -44px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 94px;
    margin-right: 164px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -66px;
    margin-right: 220px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -67px;
    margin-right: 208px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 2px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 25px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 751px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 161px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: -303px;
  }

  .u-section-1 .u-image-2 {
    width: 378px;
    height: 272px;
    margin-left: calc(((100% - 340px) / 2) + -38px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -430px;
    margin-right: calc(((100% - 340px) / 2) + -152px);
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 356px;
    margin-top: -389px;
  }

  .u-section-1 .u-image-5 {
    width: 450px;
    height: 295px;
    margin-top: -262px;
    margin-left: calc(((100% - 340px) / 2) + -150px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -14px;
    min-height: 275px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 27px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 80px;
    margin-right: 128px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -171px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 82px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  letter-spacing: 6px;
  margin: 30px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 235px;
  height: 234px;
  margin: 30px auto 0;
}

.u-section-2 .u-image-2 {
  width: 145px;
  height: 111px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -268px 8px 0 auto;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 188px auto 0 37px;
  padding: 13px 38px 14px 37px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  background-image: none;
  margin: -49px 53px 0 auto;
  padding: 3px 13px 4px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 27px;
}

.u-section-2 .u-image-3 {
  width: 235px;
  height: 233px;
  margin: 31px 37px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 144px;
  height: 144px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -268px 0 0 auto;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 155px auto 0 54px;
  padding: 13px 38px 14px 37px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  background-image: none;
  margin: -49px 37px 0 auto;
  padding: 3px 13px 4px;
}

.u-section-2 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-3 {
  padding: 7px 30px;
}

.u-section-2 .u-image-5 {
  width: 235px;
  height: 233px;
  margin: 23px 37px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 112px;
  height: 108px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  margin: -256px 14px 0 auto;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 179px auto 0 48px;
  padding: 13px 38px 14px 37px;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  background-image: none;
  margin: -47px 30px 0 auto;
  padding: 3px 13px 4px;
}

.u-section-2 .u-icon-3 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 24px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 18px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-image-1 {
    width: 180px;
    height: 179px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -213px;
    margin-right: 22px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 256px;
    margin-left: 14px;
    padding-right: 20px;
    padding-left: 19px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 512px;
  }

  .u-section-2 .u-image-3 {
    width: 185px;
    height: 183px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: -218px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 223px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -50px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 512px;
  }

  .u-section-2 .u-image-5 {
    width: 180px;
    height: 178px;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    margin-top: -201px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 250px;
    padding-right: 15px;
    padding-bottom: 13px;
    padding-left: 14px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -48px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1225px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 139px;
    height: 139px;
    margin-left: 161px;
  }

  .u-section-2 .u-image-2 {
    width: 103px;
    height: 79px;
    margin-top: -161px;
    margin-right: 195px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 105px;
    margin-left: 147px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 176px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    width: 129px;
    height: 128px;
    margin-top: 43px;
    margin-right: auto;
    margin-left: 171px;
  }

  .u-section-2 .u-image-4 {
    width: 113px;
    height: 113px;
    margin-top: -170px;
    margin-right: 176px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 95px;
    margin-left: 156px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -49px;
    margin-right: 176px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 389px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    width: 129px;
    height: 128px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 171px;
  }

  .u-section-2 .u-image-6 {
    width: 80px;
    height: 77px;
    margin-top: -156px;
    margin-right: 192px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 87px;
    margin-left: 133px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -55px;
    margin-right: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 51px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-2 .u-image-1 {
    width: 110px;
    height: 110px;
    margin-top: 43px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 80px;
    height: 61px;
    margin-top: -127px;
    margin-right: 80px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 85px;
    margin-left: 57px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 63px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 183px;
  }

  .u-section-2 .u-image-3 {
    width: 107px;
    height: 105px;
    margin-top: 5px;
    margin-left: 97px;
  }

  .u-section-2 .u-image-4 {
    width: 80px;
    height: 80px;
    margin-top: -110px;
    margin-right: 80px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 38px;
    margin-left: 54px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 63px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 204px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-5 {
    width: 108px;
    height: 107px;
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: -137px;
    margin-right: 80px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 69px;
    margin-left: 57px;
    padding-top: 12px;
    padding-right: 21px;
    padding-left: 19px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -47px;
    margin-right: 63px;
  }
} .u-section-3 {
  background-image: url("images/Group.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 560px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.41;
  font-size: 3.75rem;
  margin: 160px auto 0 98px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 663px 0 98px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 60px 98px;
  padding: 15px 46px 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-text-2 {
    margin-right: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-right: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 268px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 45px;
    margin-right: 23px;
    margin-left: 75px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 57px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: url("images/Clippathgroup1.png");
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 14px;
  margin: 269px auto 0 47px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0 47px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 110px auto 60px 48px;
  padding: 15px 59px 17px;
}

.u-section-4 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  padding: 1px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 130px;
    margin-left: 35px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 590px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 17px;
}

.u-section-5 .u-image-1 {
  width: 171px;
  height: 169px;
  margin: 323px 39px 0 auto;
}

.u-section-5 .u-image-2 {
  width: 334px;
  height: 432px;
  margin: -408px auto 0;
}

.u-section-5 .u-image-3 {
  width: 218px;
  height: 218px;
  margin: -499px 39px 0 auto;
}

.u-section-5 .u-image-4 {
  width: 179px;
  height: 177px;
  margin: -163px auto 0 17px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 590px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 70px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  margin: 28px auto 0 101px;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  margin: 20px auto 0 101px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 88px auto 0 88px;
  padding: 15px 59px 17px;
}

.u-section-5 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
  padding: 1px;
}

.u-section-5 .u-image-5 {
  width: 467px;
  height: 28px;
  margin: 94px 20px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 545px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 338px;
    margin-right: 17px;
  }

  .u-section-5 .u-image-2 {
    height: 431px;
    margin-top: -423px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -498px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-image-5 {
    margin-right: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 53px;
    margin-bottom: 46px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 641px;
  }

  .u-section-5 .u-image-1 {
    width: 150px;
    height: 148px;
    margin-top: 295px;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    width: 298px;
    height: 351px;
    margin-top: -371px;
    margin-right: 11px;
  }

  .u-section-5 .u-image-3 {
    width: 166px;
    height: 166px;
    margin-top: -408px;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    width: 134px;
    height: 132px;
    margin-top: -132px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 641px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 75px;
  }

  .u-section-5 .u-image-5 {
    width: 360px;
    height: 22px;
    margin-top: 120px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1727px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 433px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 730px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 475px;
    margin-right: 20px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -370px;
    margin-right: 107px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -442px;
    margin-right: 59px;
  }

  .u-section-5 .u-image-4 {
    height: 133px;
    margin-top: -110px;
    margin-left: 54px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 564px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 25px;
    margin-left: 94px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-left: 94px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 69px;
    margin-left: 94px;
  }

  .u-section-5 .u-image-5 {
    margin-top: 114px;
    margin-right: 86px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 149px;
    height: 147px;
    margin-top: 192px;
  }

  .u-section-5 .u-image-2 {
    height: 298px;
    width: 296px;
    margin-top: -312px;
    margin-right: 22px;
  }

  .u-section-5 .u-image-3 {
    width: 153px;
    height: 153px;
    margin-top: -314px;
    margin-right: 12px;
  }

  .u-section-5 .u-image-4 {
    width: 137px;
    height: 136px;
    margin-top: -153px;
    margin-left: -5px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 569px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 62px;
    margin-left: 27px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 50px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 22px;
    margin-left: 10px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 37px;
    margin-left: 10px;
  }

  .u-section-5 .u-image-5 {
    width: 340px;
    height: 21px;
    margin-top: 129px;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 531px;
}

.u-section-6 .u-layout-wrap-1 {
  position: relative;
  margin: 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2.25rem;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  margin: 30px 87px 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 87px;
  margin-bottom: 0;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  margin: 20px 60px 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 60px;
  margin-bottom: 0;
}

.u-section-6 .u-icon-4 {
  color: rgb(16, 129, 224) !important;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 411px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 3px auto 0 0;
}

.u-section-6 .u-text-7 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-8 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-9 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-10 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-11 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-12 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 411px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 22px;
}

.u-section-6 .u-text-13 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 3px auto 0 0;
}

.u-section-6 .u-text-14 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-15 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-16 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-text-17 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-text-18 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-text-19 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 411px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 16px;
}

.u-section-6 .u-text-20 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 3px auto 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 10px auto 0 0;
  padding: 6px 8px 7px;
}

.u-section-6 .u-text-21 {
  font-weight: 400;
  margin: 20px auto 0 3px;
}

.u-section-6 .u-text-22 {
  font-weight: 400;
  margin: 20px auto 0 3px;
}

.u-section-6 .u-text-23 {
  font-weight: 400;
  margin: 20px auto 0 3px;
}

.u-section-6 .u-text-24 {
  font-weight: 400;
  margin: 20px auto 0 3px;
}

.u-section-6 .u-text-25 {
  font-weight: 400;
  margin: 20px 0 0 3px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 37px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 37px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 339px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1455px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-20 {
    font-size: 1.5rem;
  }
}